.hotel-detail-body {
    padding-top: 172px;
    padding-bottom: 150px;
}

h5 {
    color: #5df0ef!important;
    margin-top: 10px;
}

.star-rating {
    text-transform: uppercase;
    color: #5df0ef;
    margin-top: -2px;
    font-weight: bold;
}

.hotel-details {
    padding: 20px;
}

.wrapper {
    width: 100%;
    height: 400px;
    background: black;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.features {
    margin-top: 20px;
}

.feature-item {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 12px;
}

p {
    font-size: 29px;
    font-family: 'Poppins';
}

.loca{
        margin-top: -43px;
    }

    .headname{
        font-size: 40px;
        font-weight: normal;
        margin-top: -30px;
    }

    .address{
        font-size: 24px;
    }
   

      